<!DOCTYPE html>
<html>
<head><title>Add Airplane</title></head>
<body>
    <h2>Add Airplane</h2>
    <form method="post">
        Airline ID: <input name="airlineID"><br>
        Tail Number: <input name="tail_num"><br>
        Seat Capacity: <input name="seat_capacity" type="number"><br>
        Speed: <input name="speed" type="number"><br>
        Location ID: <input name="locationID"><br>
        Plane Type (Airbus/Boeing/Other): <input name="plane_type"><br>
        Maintenanced: <input type="checkbox" name="maintenanced"><br>
        Model (if Boeing): <input name="model"><br>
        Neo (if Airbus): <input type="checkbox" name="neo"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
