<!DOCTYPE html>
<html>
<head>
    <title>Add Person</title>
</head>
<body>
    <h1>Add Person</h1>
    <form method="post">
        ID: <input name="personID"><br>
        First Name: <input name="first_name"><br>
        Last Name: <input name="last_name"><br>
        Location ID: <input name="locationID"><br>
        Tax ID (for pilots): <input name="taxID"><br>
        Experience (for pilots): <input name="experience"><br>
        Miles (for passengers): <input name="miles"><br>
        Funds (for passengers): <input name="funds"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>


